# AWS CLI config and credentials
.aws/

# Python-specific ignores
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local environment files
.env

# Python virtual environments
venv/
env/
ENV/
*.venv

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook output
output_data/
*.csv

# Data files
*.csv
*.json

# Ignore any local configurations
*.local
*.log

# Ignore the compiled Redshift-connector file (if locally stored)
redshift-connector/