
[AWS]
KEY=****************************
SECRET = *****************************

[DWH]
DWH_WORKGROUP_NAME=default-workgroup
DWH_NAMESPACE_NAME=default-namespace
DWH_DB=aws-etl-redshift
DWH_DB_USER=admin
DWH_DB_PASSWORD=*********
DWH_PORT=5439
DWH_IAM_ROLE_ARN=arn:aws:iam::339713018722:role/redshift-role
REGION=us-east-1
